* {
  font-family: "Alegreya Sans";
}

#header {
  color: #FDB927;
  height: 100vh;
}

#header, .btn {
  background-color: #552583;
}

.btn {
  margin: 10px;
}

.intro {
  padding-top: 35vh;
}

.navbar, footer {
  background-color: #FDB927;
}

#projects {
  padding-top: 10vh;
}

img {
  max-width: 100%;
}

.project-section {
  padding-bottom: 15vh;
}

.chip {
  display: inline-block;
  padding: 0 15px;
  margin: 5px 0;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

footer {
  height: 100px;
}

.copyright {
  margin-top: -15px;
}

.profile {
  background-image: url('../images/alexprofile.jpg');
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}
