.header {
  background-image: url('../images/background.jpeg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.profile {
  background-image: url('../images/alexprofile.jpg');
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}
